html, body{
    width: 100%;
    height: 100%;
}
body{
    font: 15px/1.5 ;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
    }

    *{
        padding: 0px;
        margin: 0px;
    }
    input{
        display: block;
       margin: 15px auto;
       color: white;
       padding: 20px;
       font-size: 14px;
        border: 1px solid #fff;
       transition: all 0.3s ease;
       border-radius: 5px;
       -moz-border-radius: 5px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
          width: 70%;
          box-sizing: border-box;
          text-align: center;
          background: transparent;
          outline: none;
          -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
          font-family: 'Raleway', sans-serif;
      }
      ::placeholder{
          color: #fff;
          text-overflow: ellipsis;
      }
    
input[type="submit"]{
    background: #da3743 ;
    color: white;
}
    
    /*  general styles */
    .container{
        width: 80%;
        overflow: hidden;
        margin: auto;
    }
    h1, h2, h3, h4, h5, h6{
        text-transform: uppercase;
    }
    .lighter-blue{
        background: #0080ff;
        color: #f4f4f4;
        padding: 15px;
        margin: 10px 0 10px 0;
    }
    button {
        padding: 0.5em 1em;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        border-bottom: 3px solid #627295;
        text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
    }
    


    /* header */
    header{
        background-color: #05164d;
        color: #f4f4f4;
        padding-top: 20px;
        min-height: 70px;
        text-align: center;
    }
    header a{
        color: #f4f4f4;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase; 
        cursor: pointer;
    }
    header ul{
        list-style-type: none;
        
    }
    header li{
        display: inline-block;
        padding: 5px 20px  0px 20px;
    }
    header .logo{
        float: left;
        display: inline-block;
        padding-top: 5px;
        font-weight: bold;
    }
    header .logo h1{
        margin: 0px;
      
    }
    header nav{
        float: right;
    }
     #logo-first-word, a.current{
    color: #da3743;
    }
    header a:hover{
        color: #fff;
        font-weight: bold;
    }
    
    /* showcase */
    #showcase{
        min-height: 400px;
        background: url("../img/showcase.jpg") no-repeat;
        text-align: center;
        color: white; 
        background-size: 100% -100%;
        background-position: center;
    }
    #showcase h1{
        padding-top: 100px;
        font-size: 30px;
    }

    /*  process style */

    #business-process{
    padding: 15px;
    }
    
    #business-process h2{
    text-align: center;
    color: #05164d;
    }
    
    #processing-case {
       display: flex;
        justify-content: space-around;
    
    }  
    
    #processing-case .process-case {
        width: 30%;
        height: 10%;
        padding-top: 5%;
    }
    
    
    
    #processing-case .process-case img{
        width: 100%;
        height: 10%;
    }
    .process-case h3{
      text-align: center;
      padding-bottom: 15px;
    }
    
    @media screen and (max-width: 600px) {
        #processing-case {
           width: 100%;
           display: inline-block;
         } 
         
    #processing-case .process-case {
        width: 100%;
        height: 10%;
        padding-top: 5%;
    } 
        
    }
    /*  why us styles */
    
    
    .container h3{
        padding-bottom: 15px;
        color: #05164d;
        text-align: center;
    }
    #why-us-img{
        width: 100%;
    }
    
    em {
        color: #da3743;
    }
    
    #why-us-case p  {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 15px;
    }
    /* about styles */
    h1#about-header{
    text-align: center;
    color: #da3743;
    padding-bottom: 10px;
    }
    aside#side-bar{
        width: 30%;
       float:right;
       margin-top: 15px;
    }
    #main-col{
        width: 65%;
        float: left;
        padding-top: 20px;
    }
    @media screen and (max-width: 600px) {
      
        aside#side-bar{
            width: 100%;
        }
        #main-col{
            width: 100%;
           
        }
    }
    
/* ====== forms ====== */
section.form-main {
    position: relative;
    top: 20px;
    text-align: center;
}

.container.form-case {
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, .5)

}
#form-cancel-btn button:hover{

}
@media screen and (max-width: 700px) {
    .container.form-case {
        width: 90%;
    }
    #form-cancel-btn button{
        margin-bottom :30px;
    }
}


span#form-cancel-btn{
    margin-left: 80%;
    width: 100%;
}
.animations {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
    /*  footer */
    #footer{
        display: flex;
        align-content: flex-end;
    
    }
    footer{
       
        background-color: #05164d;
        color: white;
        padding: 20px;
        width: 100%;
        text-align: center;
    }
    
    footer a{
        text-decoration: none;
        color: white;
    }
    footer li{
        display: inline-block;
        padding: 5px 20px  0px 20px;
    }
    